.message-list-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 5rem;
}

.message-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.message {
  width: 30rem;
  min-height: 10rem;
  height: fit-content;

  margin: 3rem 0;

  padding: 1rem;

  border: 2px solid #252525;
}

.message-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-controls {
  margin-top: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-header-react {
  width: 6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-header-react svg {
  cursor: pointer;
}

.react {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react span {
  margin-left: 0.3rem;
}

.message-input {
  margin-top: 2rem;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.send-message {
  margin-top: 1rem;

  font-size: 1.2rem;

  border: 2px solid #252525;
}

.reply-form {
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-top: 1rem;
}

.reply-form button {
  height: 3rem;
}

.reply-form input {
  height: 3rem;
  width: 17rem;

  margin-right: 1rem;
}

.reply {
  height: 4rem;
  width: 21rem;

  display: flex;
  align-items: flex-end;
  flex-direction: column;

  margin-left: auto;
}

.reply-reactions {
  width: 100%;

  display: flex;
}

.reply-header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  cursor: pointer;
}

.filter {
  margin-top: 2rem;
}

.filter input {
  margin-right: 0.4rem;
}

.pagination {
  margin-top: 1rem;
}

.pagination button {
  margin-left: 0.4rem;
}

.active-page {
  border: 2px solid #252525;
}
